body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3{
    color: #2e2f42;
    margin: 0;
}
p{
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.trailing-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}
.icon {
    width: 40px;
    height: 40px;
}
.icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon a:hover,
.icon a:focus {
    background-color: #404bbf;
}
.icon-svg {
    fill:#f4f4fd;
}

/*#region Header */
.menu{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-container {
    display: flex;
    align-items: center;
}
.address-box {
    margin-left: auto;
}
.address-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.menu-list {
    display: flex;
    gap: 40px;
}
.menu-list-item {
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    margin: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list-item::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list-item:hover::after,
.menu-list-item:focus::after,
.menu-list-item.current::after {
    opacity: 1;
}
.menu-list-item:hover,
.menu-list-item:focus,
.menu-list-item.current {
    color:#404bbf;
}

.menu-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    margin: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menu-contacts:hover,
.menu-contacts:focus {
    color:#404BBF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform:uppercase;
    color: #4d5ae5;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.logo span{
    color:#2e2f42;
}
/* #endregion Header */
/*#region Order Service */
.order-service .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
}
.order-service {
    background-color: #2E2F42;
    background-image:linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ), 
            url('../images/people-office.jpg');
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

}
.order-service-title {
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    max-width: 496px;

    margin-bottom: 48px;
}
.order-service-button {
    background-color: #4d5ae5;
    font-family:inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor:pointer;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 169px;
    height: 56px;
    margin-top: 0;
}
.order-service-button:hover,
.order-service-button:focus {
    background-color: #404BBF;
}
/* #endregion Order Service */
/*#region Advantages */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages .container {
    display: flex;
    flex-direction: row;
}
.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.advantages-list-item {
   flex-basis: calc((100% - 72px) / 4);
   flex-direction: column;
}
.advantages-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}
.advantages-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}
.advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    margin-top: 0px;
}

/* #endregion Advantages */
/* #region Our Team */

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.our-team-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
 .our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
 }
 .our-team-information {
    padding: 32px 0;
 }
.our-team-names{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
 }
 .our-team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
 }
/* #endregion Our Team */
 /* #region Our Portfolio */
.our-portfolio {
    padding: 120px 0;
}
 .our-portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    padding: 0;
}
.our-portfolio-list-item {
    flex-basis: calc((100% - 72px) / 4);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.our-portfolio-information {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.our-portfolio-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.our-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-portfolio-list {
    color: #FFFFFF;
}
.thumba {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    content: "";
    background: #4d5ae5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
}
.our-portfolio-list-item:hover .overlay{
    transform: translateY(0);
}
/* #endregion Our Portfolio */
/* #region Footer */

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    margin-bottom: 16px;
    display: flex;
    display: inline-block;
}
.logo-footer span{
    color: #f4f4fd;
}
.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
    margin-top: 0;
}
.page-footer .container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.page-footer-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 264px;
}
.footer-information {
    margin-right: 120px;
}
.social-media-text{
    margin-bottom: 16px;
}
.footer-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
}
.page-footer .icon a:hover, 
.page-footer .icon a:focus {
    background-color: #31d0aa;
}
.footer-subscribe {
    margin-left: 80px;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.footer-input::placeholder {
    color: #ffffff;
}
.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-svg {
   margin-left: 16px; 
}
.footer-button:hover,
.footer-button:focus {
    background-color:#404BBF;
}
/* #endregion Footer */
/* #region Modal */
.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    pointer-events: none;
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}
.close-button-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-modal:hover,
.close-button-modal:focus {
    border: none;
    background-color: #404BBF;
}
.modal-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-modal:focus > .modal-icon,
.close-button-modal:hover > .modal-icon {
    fill: #ffffff;
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}
.modal-label-container{
    margin-bottom: 8px;
}
.modal-label-comment-container {
    margin-bottom: 16px;
}
.input-container {
    position: relative;
}
.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4d5ae5;
}
.modal-input-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus ~.modal-input-svg{
    fill: #4d5ae5;
}
.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
    border-color: #4d5ae5;
}
.modal-checkbox{
    margin-bottom: 24px;
}
.modal-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
}
.modal-checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.checkbox-modal-form:checked ~ .modal-checkbox-label .checkbox-svg {
    fill:#F4F4FD;
}
.checkbox-modal-form:checked ~ .modal-checkbox-label .modal-checkbox-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.modal-checkbox-link {
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.modal-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display: block;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
}
.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
}
/* #endregion Modal */